<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card centered-img">
        <img alt="Foto" src="./assets/carnet.jpg" width="50%" />
        <div class="card-body text-center">
          <h5 class="card-title">Kevin Taffur</h5>
          <p class="card-text"><strong>Email:</strong> ketaffur@gmail.com</p>
          <p class="card-text">
            <strong>Ocupación:</strong> Estudiante de Ingeniería de Software
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
