<main>
  <section class="jumbotron text-center mt-5">
    <div class="container">
      <h1 class="display-4">
        Este es un home genérico para la página destinada al Home de la lección!
      </h1>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis urna
        et est commodo pharetra. Sed accumsan ligula eu lacus blandit, vel
        ullamcorper neque dapibus.
      </p>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="./assets/wooden.jpg" alt="Nice Picture" class="img-fluid" />
      </div>
      <div class="col-md-6">
        <h2>Información</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis urna
          et est commodo pharetra. Sed accumsan ligula eu lacus blandit, vel
          ullamcorper neque dapibus. Phasellus eget sapien nisl. Nulla facilisi.
          In condimentum magna vel odio vulputate venenatis.
        </p>
      </div>
    </div>
  </section>
</main>
